.nav-list{
    display: inline-block;
    margin-left: 30px;

}
body{
    background-color: #ffeedc;
}
.navbar{
    background-color: rgb(3, 57, 102);
    padding:20px;
}
.navdiv{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: large;
}
a:hover{
    color: rgb(0, 0, 0);
}
ul{
    margin: 0px;
}
.main-text{
    size: 30px;
    text-align: center;
    color: black;
    margin-top:3em ;
    margin-bottom: 3em;
    font-family: Arial;
}
.h1-container{
    background-color:rgb(199, 188, 161);
    display: inline-block;
    padding: 1em;
    border-radius: 3em;
    
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(189, 188, 188);
    border-width: 7px;
    width: 70px;
    margin: 100px auto;
}
section{
    margin-top: 10em;
    margin-top: 10em;
}
.button-holder{
    display: grid;
    grid-template-columns: 77% 23%;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}
#enterpsw{
    width: 100%;
    height: 5em;
    border-radius: 2em 0em 0em 2em ;
}
.check-button{
    height: 100%;
    border-radius: 0em 2em 2em 0em ;
    border-style: hidden;
    background-color:rgb(199, 188, 161) ;
    transition: 0.5s;
    color:  rgb(46, 37, 37);
    font-size: large;
}
.check-button:hover{
    background-color:rgb(219, 211, 189)  ;
    color: rgb(0, 0, 0);
}
.repsec{
    text-align: center;
}
h2{
    font-family: Arial;
    font-weight: bold;
}