.nav-list{
    margin-left: 30px;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: large;
}
a:hover{
    color: rgb(0, 12, 36);
}
ul{
    margin: 0px;
}
.navbar{
    background-color: rgb(3, 57, 102);
    padding:20px;
}
.navdiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
}

#logo{
    margin: 10px;
    padding: 0%;
    width: 5em;
    height: 5em;
}

#home{
    margin-left: 0px;
}

h1 a{
    font-size: 40px;
}

#welcome{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 10em;
    color: rgb(99, 41, 0);
    opacity: 0;
    transform: scale(0.3);
}

@keyframes zoom-in{
    from{
        opacity: 0;
        transform: scale(0.3);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}



.zoom-in{
    animation: zoom-in 1s ease-out forwards;
}

#guide{
    margin-top: 2.6em;
    margin-bottom: 2.6em;
    font-size: 5em;
    color: rgb(99, 41, 0);
    opacity: 0;
    transform: scale(0.3);
}

#thanks{
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 10em;
    color: rgb(99, 41, 0);
    opacity: 0;
    transform: scale(0.3);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(197, 159, 147);
    border-width: 7px;
    width: 70px;
    margin: 100px auto;
}

h1{
    color:chocolate
}

img{
    width: auto;
    height: 150px;
    border-radius: 30px;
}

.guide-page{
    margin-bottom: 3%;
    opacity: 0;
    transform: scale(0.3);
    transition: all 1s ease-out;
}

.guide-page.show{
    opacity: 1;
    transform: scale(1);
}


.pass-check-page{
    display: inline-block;
    position: relative;
    margin-left: 25%;
    margin-right: 10%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1s ease-out;
}

.pass-check-page.show{
    opacity: 1;
    transform: translate(0);
}

.pass-gen-page{
    display: inline-block;
    position: relative;
    margin-right: 20%;
    opacity: 0;
    transform: translate(50%);
    transition: all 1s ease-out;
}

.pass-gen-page.show{
    opacity: 1;
    transform: translate(0);
}

body{
    background-color: #ffeedc;
    font-family: Arial, Helvetica, sans-serif;
}

.foot-text{
    color: grey;
}

.footer{
    background-color: rgb(0, 16, 29);
    padding: 20px;
}

.about-page{
    margin-bottom: 3%;
    opacity: 0;
    transform: scale(0.3);
    transition: all 1s ease-out;
}

.about-page.show{
    opacity: 1;
    transform: scale(1);
}

.phishing{
    opacity: 0;
    transform: translate(-50%);
    transition: all 1s ease-out;
}

.phishing.show{
    opacity: 1;
    transform: translate(0);
}

.password{
    margin-right: 0px;
    margin-left: 75%;
    width: 350px;
    opacity: 0;
    transform: translate(50%);
    transition: all 1s ease-out
}

.password.show{
    opacity: 1;
    transform: translate(0);
}

.malware{
    opacity: 0;
    transform: translate(-50%);
    transition: all 1s ease-out
}

.malware.show{
    opacity: 1;
    transform: translate(0);
}

.password h1{
    text-align: left;;
}

.first-row{
    display: block;
    position: relative;
    margin-left: 55%;
    margin-right: 25%;
}

.second-row{
    display: block;
    position: relative;
    margin-left: 55%;
    margin-right: 25%;
    padding-top: 10%;
}

.browsing{
    margin-right: 0px;
    margin-left: 75%;
    width: 350px;
    opacity: 0;
    transform: translate(50%);
    transition: all 1s ease-out
}

.browsing.show{
    opacity: 1;
    transform: translate(0);
}

.browsing h1{
    text-align: left;
}

.safety{
    opacity: 0;
    transform: scale(0.3);
    transition: all 1s ease-out
}

.safety.show{
    opacity: 1;
    transform: scale(1);
}

.safety p{
    width: 350px;
    height: auto;
    text-align: justify;
    margin-top: 3em;
    padding: 20px;
    color: rgb(99, 41, 0);
    font-weight: bold;
}

.safety p:hover{
        background-color: rgb(248, 206, 151);
        border-radius: 30px;
        transition: 0.2s;
}

.safety img{
    width: 250px;
    height: 250px
}

.safety img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

table p{
    width: 250px;
    height: auto;
    text-align: justify;
    margin-top: 20%;
    padding: 20px;
    color: rgb(99, 41, 0);
    font-weight: bold;
}

table p:hover{
        background-color: rgb(248, 206, 151);
        border-radius: 30px;
        transition: 0.2s;
}

table img{
    width: 250px;
    height: 250px
}

table img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

table h1{
    text-align: left;
    position: relative;
}

.pages-row img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.about-page img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.pass-check-page img{
    width: 250px;
    height: 250px
}

.pass-gen-page img{
    width: 250px;
    height: 250px
}

.about-page img{
    width: 128px;
    height: 128px
}

.guide-page img{
    width: 250px;
    height: 250px
}

.names p{
    color: darkred;
    font-size: large;
    font-weight: bold;
}

.names{
    margin-bottom: 0;
    padding-bottom: 0;
}